<div id="comments-widget-of-commentable-<%= commentable.id %>" class="comments-widget">
  <h2 class="comments-header">
    Comments <small id="comments-count-of-commentable-<%= commentable.id %>"><%= commentable.comments.size %></small>
  </h2>
  <ul class="comments-list" data-channel='comments' data-commentable-id="<%= commentable.id %>">
    <%= render partial: 'comments/comment', collection: commentable.comments.where(parent: nil), locals: { broadcasted: true } %>
  </ul>
  <!-- comment-form -->
  <%= render "comments/form", comment: commentable.comments.build  %>
</div>
